body {
    background: #aaaaaa;
    margin: 0;
}

#menu {
    width: 200px;
    height: 200px;
    background: #555555;
    position: absolute;
    margin-left: -210px;
    margin-top: 15px;
}

#page {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    padding: 0 15px 0 15px;
    background: #444444;
    padding-bottom: 15px;
}

#footer {
    padding: 0 5px 0 5px;
    background: #444444;
    padding-bottom: 15px;
}


#content {
    background: #888888;
    margin-top: 10px;
    padding: 0 5px 0 5px;
    min-height: 300px;
}

#loginLabel {
    width: 90px;
    display: inline-block;
}

#logout {
    text-align: right;
    width: 100%;
    display: inline-block;
}

#trombiUser {
    width: 100px;
    height: 100px;
    background-color: magenta;
    float: left;
    margin: 20px 8px 8px;
    padding: 5px;
}

#trombiUser img {
    width: 100px;
    height: 100px;    
}

#trombi {
    text-align: center;
    display: inline-block;
    margin-left: 50px;
}

#avatar_form {

}